body {
    background-color: #041d36;
    background: linear-gradient(90deg, #041d36 0%, #153b6f 100%);
    height: 100%;
}

.container div {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
/* 
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
} */


#singlegamesettings {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%; /* Genişlik ayarı */
    max-width: 400px; /* Maksimum genişlik */
    margin-top: 10vh;
}

.col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

@media (max-width: 768px) {
    .col-sm-4 {
        padding: 0;
    }
}

@media (max-width: 768px) {
    #singlegamesettings {
        width: 100%;
    }
}

label {
    font-weight: bold;
}

input[type="number"] {
    width: 100px;
    padding: 5px;
}

button#startgamebtn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button.homePagebtn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

#bottomhomepagebtn{
}

button#startgamebtn:hover {
    background-color: #0056b3;
}

button.homePagebtn:hover {
    background-color: #0056b3;
}

canvas#pong {
    display: block;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 10vh auto;
}

.slider-container {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.slider-container h2 {
    margin: 10px 10px;
    text-align: center;
}

.slider-label {
    display: block;
    margin-bottom: 10px;
}

.slider-input {
    width: 100%;
}

.slider-value {
    font-size: 0.8rem;
    text-align: center;
}

#aiDifficulty {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.numInputClass{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: black;
    height: 70px;

}