#onlinePongUser1Avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    background-color: aliceblue;
}

#onlinePongUser2Avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    background-color: aliceblue;
}


#user2-Win-Count > p {
    font-size: 20px;
    color: white;
    text-align: center;
}

#user1-Win-Count > p {
    font-size: 20px;
    color: white;
    text-align: center;
}

#user1-Win-Count, #user2-Win-Count {
    margin-top: 10px;
    background: linear-gradient(45deg, #59ff50, #0e6303);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
}

#user2-Win-Count {
    margin-top: 10px;
    /* make it with a red way */
    background: linear-gradient( 45deg, #ff5050, #ee0b0b); 
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    width: 50%;}

#topRightUser {
    justify-content: center;
}

.userText {
    font-size: 20px;
    color: white;
    text-align: center;
}